
.comment{
    margin: 15px 0;
    padding: 10px;
    padding-right: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
    overflow: hidden;
}

.comment .left{
    margin-right: 10px;
}

.comment img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border : 1px solid rgb(32, 151, 255);
    padding : 2px;
}
.comment .right .header_name{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
}
.header_name p{
   font-size: 16px;
   font-weight: 500;
}

.comment_txt_wrapper{
    padding-left:0px;
    font-weight: 400;
}

.comment_txt_wrapper p{
    padding-right: 20px !important;
}

.comment_del{
    color: lightcoral;
    cursor: pointer;
}

.header_name_comment{
    width: 785px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.h1_cl{
    font-weight: 500;
}

.h1_cr{
    margin-left: auto;
}

.author_txt_txt{
    font-weight: 600;
    letter-spacing: 1px;
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.237);
    background-color: rgba(0, 154, 157, 0.748);
    color: rgb(255, 255, 255);
    margin-left: 10px;
}