.single_blog_post_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-color: #222324 ;
    color: rgb(203, 211, 168);
    font-size: 13px;

}

.single_blog_post{
    width: 60%;
    margin-top: 20px;
    padding: 15px 30px;
    border: 1px solid rgba(128, 128, 128, 0.255);
}

.single_post_img_wrapper{
    width: 100%;
}

.single_post_img_wrapper img{
    width: 100%;
    border-radius: 10px;
}

.single_post_title_wrappper p{
    font-size: 27px;
    font-weight: 700;
    margin: 10px 0;
}

.title_and_buttons_wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 10px 0;
}

.buttons_wrapper{
    display: flex;
    margin-left: 10px;
}

.buttons_wrapper p{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* author */
.blog_post_author_single{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.348);
    margin: 10px 0;
    padding: 10px 0;
}

.blog_post_author_single .left{
    margin-right: 15px;
}

.author_name_wrapper h2{
    font-size: 18px;
    font-weight: 500;
}

.blog_post_author_single .left img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid rgba(136, 136, 136, 0.262);
    
}

.author_and_timestamps{
    display: flex;
    justify-content: space-between;
}

.author_txxt{
    font-weight: 600;
    border-bottom: 1px solid gray;
}
.general {
    display: flex;
    justify-content: space-around;
}
.single_post_description_wrapper{
    margin: 10px 0;
    margin-top: 20px;
}
.redtext {
    color: rgb(208, 133, 48);
    font-weight: 600;
    font-size: 20px;
}
.ordinary {
   margin-left: 30px;
}
.reddiv {
    width: 150px;
    height: 7px;
    background-color: rgb(208, 133, 48);
}


.__title{
    font-weight: 700;
    font-size: 22px;
    color: rgb(92, 92, 92);
}