.profile_user{
   width: 100%;
   /* height: 90vh; */
   display: flex;
   justify-content: center;
   align-items: center;

}


.profile_main_wrapper{
    width: 800px;
    /* height: 600px; */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.444);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.profile_main_wrapper .top{
    width: 100%;
    display: flex;
}

.profile_main_wrapper .left{
   flex: 2;
   padding: 10px;
}

.font_wt_500{
   font-weight: 600;
}

.profile_main_wrapper .right{
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10px;
}

.profile_main_wrapper .left .profile_name p{
   font-weight: 600;
   font-size: 20px;
   padding: 0px 0;
}

.profile_user_profile_image{
   width : 200px;
   height: 200px;
   border-radius: 50%;
   border-radius: 50%;
   padding : 3px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.178);
   border : 2px solid rgb(194, 187, 187);
   object-fit: cover;
}

.profile_main_wrapper .bottom{
   text-align: center;
   padding: 10px 20px;
}

.blog_post_profile_wrapper{
   /* height: 220px; */
   /* overflow-y : scroll; */
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   padding-top: 0;
   margin-top: 20px !important;
}

/* width */
.blog_post_profile_wrapper::-webkit-scrollbar {
   width: 7px;
 }
 
 /* Track */
 .blog_post_profile_wrapper::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey; 
   border-radius: 10px;
 }
  
 /* Handle */
 .blog_post_profile_wrapper::-webkit-scrollbar-thumb {
   background: rgba(115, 115, 115, 0.425); 
   border-radius: 10px;
 }
 
 /* Handle on hover */
 .blog_post_profile_wrapper::-webkit-scrollbar-thumb:hover {
   background: #b300005e; 
 }

.blog_profile_post{
   width: 215px;
   height: 220px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.544);
   border-radius: 10px;
   margin: 0px 10px;
   margin-bottom: 20px;
   position: relative;
   overflow: hidden;
}

.blog_profile_post img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.blog_profile_post .bottom{
   position: absolute;
   bottom:0;
   width: 100%;
   height: 45px;
   background-color: rgba(0, 0, 0, 0.307);
   z-index: 1;
   display: flex;
   justify-content: center;

}

.blog_profile_post .bottom span{
   cursor: pointer;
   height: 100%;
   flex:1;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   border-right: 1px solid gray;

}

.blog_profile_post .bottom span:hover{
   background-color: rgba(0, 0, 0, 0.863);
}

.mid__title{
   width: 100%;
   height: 67px;
   display: flex;
   /* align-items: center; */
   justify-content: center;
   position: absolute;
   padding-top: 1px;
   top: 70px;
   background-color: rgba(64, 64, 64, 0.619);
   overflow: hidden;
}

.mid__title h3{
   font-weight: 600;
   color: rgb(230, 230, 230);
}

.clr{
   color: rgb(243, 243, 243);
   
}

.profile_input{
   display: block;
   font-size: 14px;
   margin-top: 10px;
}

.profile_submit{
   padding: 3px 10px;
   margin : 10px;
   border-radius: 5px;
   border: none;
   font-size: 14px;
   letter-spacing: 1px;
   background-color: rgb(0, 123, 164);
   color: white;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.407);
}

.profile_submit_wrapper{
   display: flex;
   justify-content: center;
}